#NBA_detail, #KBL_detail {
	display: flex;
	flex-direction: column;
}

.detail_top {
	display: flex;
	flex-direction: column;
	align-items: center;
}

	.detail_top .name {
		font-size: 2em;
		text-align: center;
	}

.detail_bottom {
	display: flex;
	flex-direction: column;
}
